{
  "log_level": {{ temperature_exporter_log_level }},
  "log_destination": {{ temperature_exporter_log_destination }},
  "log_filename": {{ temperature_exporter_log_filename }},
  "http_bind_address": {{ temperature_exporter_http_bind_address }},
  "http_port": {{ temperature_exporter_http_port }}
}
